@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgba(39, 41, 56, 1);
  color: white;
  height: 100vh;
}

h2 {
  color: rgba(120, 160, 131, 1);
  font-size: 35px;
}
h6 {
  font-size: 17px;
  font-weight: normal;
}

button {
  border-radius: 20px;
}

/* nav start  */
nav {
  background-color: rgba(53, 55, 75, 1);
  display: flex;
  padding: 10px 10%;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  cursor: pointer;
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: medium;
}

nav ul li {
  cursor: pointer;
  /* letter-spacing: 12; */
}

nav ul li:hover {
  color: rgba(120, 160, 131, 1);
  border-bottom: 1px solid rgba(120, 160, 131, 1);
}

.active {
  color: rgba(120, 160, 131, 1);
  font-weight: bold;
  border-bottom: 1px solid rgba(120, 160, 131, 1);
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* nav end */

/* hero start */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0 20%;
}

.conect-profile {
  margin-top: 15px;
}
.conect-profile img {
  width: 35px;
  border: 2px solid rgba(120, 160, 131, 1);
  border-radius: 100%;
  padding: 7px;
}
.conect-profile img:hover {
  background-color: rgba(120, 160, 131, 1);
}

.btns-hero {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-1 {
  width: 175px;
  height: 40px;
  color: white;
  background-color: rgba(120, 160, 131, 1);
  border: none;
}
.btn-2 {
  width: 175px;
  height: 40px;
  border: 2px solid rgba(120, 160, 131, 1);
  background-color: rgba(120, 160, 131, 0);
  color: white;
}

/* hero end */
