@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(39, 41, 56, 1);
  color: white;
}

h2 {
  color: rgba(120, 160, 131, 1);
  font-size: 30px;
}

h3 {
  color: rgba(120, 160, 131, 1);
  font-size: 25px;
  letter-spacing: 7;
}
h4 {
  color: rgba(120, 160, 131, 1);
  font-size: 20px;
  letter-spacing: 7;
}

h6 {
  font-size: 15px;
  font-weight: normal;
}

button {
  border-radius: 20px;
  cursor: pointer;
}
a{
  cursor: pointer;
}

/* nav start  */
nav {
  background-color: rgba(53, 55, 75, 1);
  display: flex;
  padding: 20px 10%;
  gap: 550px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

nav > a > h3 {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: medium;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: rgba(120, 160, 131, 1);
  font-weight: bold;
  transition: 0.2s;
}

.active {
  color: rgba(120, 160, 131, 1);
  font-weight: bold;
  border-bottom: 1px solid rgba(120, 160, 131, 1);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.menu-icon {
  width: 28px;
  display: none;
}

/* nav end */

/* hero start */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0 20%;
  margin-bottom: 200px;
}

.hero .hero-img {
  width: 350px;
}

.left-hero {
  margin-top: 70px;
}

.animasi-text {
  position: relative;
  min-width: 280px;
}
.animasi-text span::before {
  content: "Tunggul Abdul Majid";
  color: rgba(120, 160, 131, 1);
  animation: words 20s infinite;
}
.animasi-text span::after {
  content: "";
  position: absolute;
  background-color: rgba(39, 41, 56, 1);
  width: calc(100% + 8px);
  border-left: 3px solid rgba(120, 160, 131, 1);
  height: 100%;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(13) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid rgba(120, 160, 131, 1);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Coding Enjoyer";
  }
  41%,
  60% {
    content: "IT Student";
  }
  61%,
  80% {
    content: "Mobile Developer";
  }
  81%,
  100% {
    content: "Tunggul Abdul Majid";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.conect-profile {
  margin-top: 15px;
}
.conect-profile img {
  width: 25px;
  border: 2px solid rgba(120, 160, 131, 1);
  border-radius: 100%;
  padding: 7px;
}
.conect-profile img:hover {
  background-color: rgba(120, 160, 131, 1);
  transform: scale(1.05);
}

.btns-hero {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.btns-hero button {
  cursor: pointer;
  width: 140px;
  height: 40px;
}

.btn-1 {
  color: white;
  background-color: rgba(120, 160, 131, 1);
  border: none;
}
.btn-1:hover {
  background-color: rgba(120, 160, 131, 1);
  transition: 0.2s;
  font-weight: bold;
  transform: scale(1.05);
}

.btn-2 {
  border: 2px solid rgba(120, 160, 131, 1);
  background-color: rgba(120, 160, 131, 0);
  color: white;
}
.btn-2:hover {
  background-color: rgba(120, 160, 131, 1);
  transition: 0.2s;
  font-weight: bold;
  transform: scale(1.05);
}

/* hero end */

/* about start */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.about p {
  text-align: justify;
  margin-top: 15px;
}

.midle-about {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.midle-about ul {
  margin-top: 10px;
  font-weight: bold;
}

.bottom-about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.bottom-img img:hover {
  transform: scale(1.1);
}

/* about end */

/* projects start */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.card-project {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 400px;
  height: 500px;
  border: 3px solid rgba(120, 160, 131, 1);
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 10px 5px 10px rgba(120, 160, 131, 1);
}

.card img {
  width: 276px;
  border-radius: 5px;
  padding-left: 60px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.card h4 {
  letter-spacing: 3;
  padding: 0px 35px;
}

.card p {
  padding: 0px 35px;
  overflow: hidden;
  text-align: justify;
  height: 150px;
}

.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.btn-card .btn-notsmall {
  width: 260px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(120, 160, 131, 0);
  border: 1px solid rgba(120, 160, 131, 1);
  color: white;
}
.btn-card .btn-notsmall:hover {
  background-color: rgba(120, 160, 131, 1);
  font-weight: bold;
}

.btn-card .btn-small {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgba(120, 160, 131, 1);
  color: white;
  font-weight: 600;
  border: none;
  font-size: large;
}
.btn-card .btn-small:hover {
  font-weight: bold;
  color: black;
}

/* projects end */

/* contact start */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.form-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(120, 160, 131, 1);
  padding: 20px;
  border-radius: 20px;
}

.input-nama {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(39, 41, 56, 1);
  border: 2px solid rgba(120, 160, 131, 1);
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.input-message {
  color: white;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(39, 41, 56, 1);
  border: 2px solid rgba(120, 160, 131, 1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-btn-submit {
  margin-left: 350px;
}
.btn-submit {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(120, 160, 131, 1);
  color: white;
  border: none;
}
/* contact end */

/* quotes start */
.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.quotes h5 {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

/* quotes end */
@media screen and (max-width: 1024px) {
  nav {
    gap: 250px;
  }

  .about {
    max-width: 700px;
  }

  .projects {
    max-width: 700px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    gap: 175px;
  }
  .hero {
    gap: 50px;
  }

  .hero .hero-img {
    width: 250px;
  }
  h2 {
    color: rgba(120, 160, 131, 1);
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h6 {
    font-size: 12px;
    font-weight: normal;
  }
  .btns-hero button {
    cursor: pointer;
    width: 120px;
    height: 35px;
  }
  .conect-profile img {
    width: 20px;
  }
  .about {
    max-width: 470px;
  }
  .midle-about {
    gap: 30px;
  }
  .projects {
    max-width: 470px;
  }
}

@media screen and (max-width: 550px) {
  h3 {
    text-align: center;
    font-size: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  nav {
    position: sticky;
    top: 0;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

  .menu-icon {
    display: block;
  }

  nav .hidden {
    display: none;
  }

  .hero {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .hero .hero-img {
    width: 250px;
  }
  .btns-hero {
    justify-content: center;
  }
  .about {
    max-width: 250px;
  }
  .midle-about {
    flex-direction: column;
  }

  .projects {
    max-width: 250px;
  }

  .card {
    width: 250px;
    height: 400px;
    border: 3px solid rgba(120, 160, 131, 1);
    border-radius: 20px;
  }

  .card img {
    width: 176px;
    padding-left: 40px;
  }

  .card h4 {
    font-size: 18px;
  }
  .card p {
    font-size: 12px;
    height: 100px;
  }

  .btn-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .btn-card .btn-notsmall {
    width: 140px;
    height: 35px;
    border-radius: 50px;
    background-color: rgba(120, 160, 131, 0);
    border: 1px solid rgba(120, 160, 131, 1);
    color: white;
  }

  .btn-card .btn-small {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(120, 160, 131, 1);
    color: white;
    font-weight: 600;
    border: none;
    font-size: large;
  }
}
