@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgba(39, 41, 56, 1);
  color: white;
  height: 100vh;
}

h2 {
  color: rgba(120, 160, 131, 1);
  font-size: 30px;
}
h3 {
  color: rgba(120, 160, 131, 1);
  font-size: 25px;
  letter-spacing: 7;
}
h4 {
  color: rgba(120, 160, 131, 1);
  font-size: 20px;
  letter-spacing: 7;
}

h6 {
  font-size: 15px;
  font-weight: normal;
}

button {
  border-radius: 20px;
}

/* nav start  */
nav {
  background-color: rgba(53, 55, 75, 1);
  display: flex;
  padding: 10px 10%;
  gap: 650px;
  justify-content: center;
  align-items: center;
}

nav .logo {
  cursor: pointer;
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: medium;
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: rgba(120, 160, 131, 1);
  font-weight: bold;
  transition: 0.2s;
}

.active {
  color: rgba(120, 160, 131, 1);
  font-weight: bold;
  border-bottom: 1px solid rgba(120, 160, 131, 1);
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* nav end */

/* hero start */
.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0 20%;
  margin-bottom: 200px;
}

.hero .hero-img {
  width: 350px;
}

.left-hero {
  margin-top: 70px;
}

.conect-profile {
  margin-top: 15px;
}
.conect-profile img {
  width: 25px;
  border: 2px solid rgba(120, 160, 131, 1);
  border-radius: 100%;
  padding: 7px;
}
.conect-profile img:hover {
  background-color: rgba(120, 160, 131, 1);
}

.btns-hero {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.btns-hero button {
  cursor: pointer;
  width: 140px;
  height: 40px;
}

.btn-1 {
  color: white;
  background-color: rgba(120, 160, 131, 1);
  border: none;
}
.btn-1:hover {
  background-color: rgba(120, 160, 131, 1);
  transition: 0.2s;
  font-weight: bold;
}

.btn-2 {
  border: 2px solid rgba(120, 160, 131, 1);
  background-color: rgba(120, 160, 131, 0);
  color: white;
}
.btn-2:hover {
  background-color: rgba(120, 160, 131, 1);
  transition: 0.2s;
  font-weight: bold;
}

/* hero end */

@media screen and (max-width: 1024px) {
  nav {
    gap: 380px;
  }
  nav .logo {
    cursor: pointer;
    width: 100px;
    margin-left: -50px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    gap: 300px;
  }
  nav .logo {
    width: 100px;
  }

  .hero .hero-img {
    width: 300px;
  }
  h2 {
    color: rgba(120, 160, 131, 1);
    font-size: 24px;
  }
  h6 {
    font-size: 12px;
    font-weight: normal;
  }
  .btns-hero button {
    cursor: pointer;
    width: 120px;
    height: 35px;
  }
  .conect-profile img {
    width: 20px;
  }
}

@media screen and (max-width: 425px) {
  nav ul li {
    display: none;
  }
  nav {
    gap: 0px;
  }

  .hero {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .hero .hero-img {
    width: 250px;
  }
}
